server {
        listen {{ nginx_vhost_port}};
        listen [::]:{{ nginx_vhost_port }};

        root /var/www/{{ nginx_vhost_name }}/html;
        index index.html index.htm index.nginx-debian.html;

        server_name {{ nginx_vhost_name }} www.{{ nginx_vhost_name }};

        location / {
                try_files $uri $uri/ =404;
        }
}